<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Grab title from the page data and dump it here -->
  <link rel="icon" href="/favicon.ico" sizes="48x48"><!-- `sizes="48x48"` tricks Chromium browsers into using the SVG. Safari sitll doesn't support SVG; it will use the .ico -->
  <link rel="icon" href="/icon.svg" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">
  <link rel="preload" href="/assets/fonts/rosseti-regular.woff2" crossorigin>
  <!-- Must load in head or masonry layout fails -->
  <script src="/assets/js/index.js" type="module"></script>
  <script type="speculationrules">
    {
      "prerender": [
        {
          "where": {
            "href_matches": "/*"
          },
          "eagerness": "eager"
        }
      ]
    }
  </script>
  <style>
    :root {
      --sli-search-icon: url(/assets/images/icons/search.svg);
      --sli-external-icon: url(/assets/images/icons/external.svg);
      --sli-details-marker: url(/assets/images/icons/chevron-right.svg);
      --sli-arrow-up: url(/assets/images/icons/arrow-up.svg);
      --sli-coffee-icon: url(/assets/images/icons/coffee-cup.svg);
    }

    [data-theme='dark'] {
        --sli-search-icon: url(/assets/images/icons/search-dark.svg);
        --sli-external-icon: url(/assets/images/icons/external-dark.svg);
        --sli-details-marker: url(/assets/images/icons/chevron-right-dark.svg);
    }

    @font-face{
      font-family: Rosseti;
      src: url('/assets/fonts/rosseti-regular.woff2') format('woff2');
      font-display: swap;
      font-weight: var(--regular, 400);
      font-style: normal;
    }
  </style>
  <link rel="stylesheet" href="/assets/css/index.css">
  <meta property="og:site_name" content="Stone Lion Inn">
  {% seo "" %}
</head>
