<nav id="nav-primary" class="navigation header-footer" aria-label="primary">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="/" class="navigation__link">Home</a>
				</li>
				<li class="navigation__item js-has-submenu" data-expanded="false">
					<span class="listitem"><a class="navigation__link"  href="/about/about/">About</a></span>
					<button
						class="navigation__button js-button"
						aria-label="Submenu of rooms"
						aria-expanded="false"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							role="presentation"
              class="submenu-indicator"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<polyline fill="var(--sli-color-textReverse)" points="6 9 12 15 18 9" />
						</svg>
					</button>
					<ul aria-hidden="true" class="navigation__submenu">
						<li class="navigation__item">
							<a class="navigation__link" href="/about/history/">History</a>
						</li>
					</ul>
				</li>
				<li class="navigation__item js-has-submenu" data-expanded="false">
					<span class="listitem">Rooms</span>
					<button
						class="navigation__button js-button"
						aria-label="Submenu of rooms"
						aria-expanded="false"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							role="presentation"
              class="submenu-indicator"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<polyline fill="var(--sli-color-textReverse)" points="6 9 12 15 18 9" />
						</svg>
					</button>
					<ul aria-hidden="true" class="navigation__submenu">
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/bordello-suite/">Bordello Suite</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/cora-diehl-suite/">Cora Diehl Suite</span>
							</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/kentucky-daisey-suite/">Kentucky Daisey Suite</span>
							</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/lucy-mulhall-suite/">Lucy Mulhall Suite</span>
							</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/parlor/">The Parlor</span>
							</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/rooms/wedding-suite/">Wedding Suite</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="navigation__item js-has-submenu">
					<span class="listitem">The Cottage</span>
					<button
						class="navigation__button js-button"
						aria-label="Submenu of The Cottage"
						aria-expanded="false"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							role="presentation"
              class="submenu-indicator"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<polyline fill="var(--sli-color-textReverse)" points="6 9 12 15 18 9" />
						</svg>
					</button>
					<ul aria-hidden="true" class="navigation__submenu">
						<li class="navigation__item">
							<a class="navigation__link" href="/cottage/east-suite/">East Suite</a>
						</li>
						<li class="navigation__item">
							<a class="navigation__link" href="/cottage/west-suite/">West Suite</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
